body {
	background: wheat;
	font-family: cursive;
}

#Bace{
	width: 800px;
	margin: auto;
}

#Principal{
	background: red;
	width: auto;
	height: 200px;
	margin: auto;
	text-align: center;
}

#ParteMedio{
	background: red;
	width: auto;
	height: 460px;
	margin: auto;
	text-align: center;
}

#ParteFinal{
	background: red;
	width: auto;
	height: 100px;
	margin: auto;
	text-align: center;
}

.imagecapture{
	width: 300px;
	height: 180px;
	margin: 30px;
	border-style:solid;
	border-radius: 10%;
}

#Buttomclick{
	background: yellow;
	width: 150px;
	height: 50px;
	border-style:dashed;
	border-radius: 20px;
}